<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
    <style>table th, table td {
        padding: 5px;
    }</style>
</head>
<body>
<h1>Users in DB</h1>
<table border="1">
    <tr>
        <th>User ID</th>
        <th>User name</th>
        <th>User LastName</th>
        <th>User Email</th>
    </tr>
<tr th:each="usr, state : ${listOfUsers}">
        <td th:utext="${usr.getId()}">User ID</td>
        <td th:utext="${usr.getName()}">User name</td>
        <td th:utext="${usr.getLastName()}">User LastName</td>
        <td th:utext="${usr.getEmail()}">User Email</td>
</tr>
</table>
<br>
<br>
<br>
<input type="button" value="Add new User"
       onclick="window.location.href = 'addNewUser'"/>
<br>
<br>
<br>
<br>


<form th:method="delete" action="/user/delete/">
    <label for="id">Insert id to delete</label>
    <input name="id" type="text" id="id">
</form>
<br>
<br>
<form method="get" action="/user/update">
    <label for="idToUpdate">Insert id to update</label>
    <input name="idToUpdate" type="text" id="idToUpdate"></form>
<br>
<br>
<a href="/">go to main page</a>
</body>
</html>